// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Colors
$blue: #0282F9;
$h-color:#464646;

// Parts
@import "header";
@import "footer";
@import "main";

header, footer, main{
    font-family: 'Open Sans', sans-serif;
}
